[submodule "firmware_HW_Validation/lib/tlv320aic31xx"]
	path = firmware_HW_Validation/lib/tlv320aic31xx
	url = https://github.com/haklein/tlv320aic31xx
[submodule "firmware_HW_Validation/lib/pico_tlv320_i2s"]
	path = firmware_HW_Validation/lib/pico_tlv320_i2s
	url = https://github.com/Arkos-Engineering/Pico_TLV320_I2S
