[submodule "firmware_HW_Validation/lib/tlv320aic31xx"]
	path = firmware_HW_Validation/lib/tlv320aic31xx
	url = https://github.com/haklein/tlv320aic31xx
[submodule "firmware_HW_Validation/lib/pico_tlv320_i2s"]
	path = firmware_HW_Validation/lib/pico_tlv320_i2s
	url = https://github.com/Arkos-Engineering/Pico_TLV320_I2S
[submodule "firmware_HW_Validation/lib/pico-extras"]
	path = firmware_HW_Validation/lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "firmware_HW_Validation/lib/pico_ssd1681"]
	path = firmware_HW_Validation/lib/pico_ssd1681
	url = https://github.com/Arkos-Engineering/pico_ssd1681
[ "\\lib\\pico_ssd1681\\"]
	branch = main
[submodule "\\lib\\pico_ssd1681\\"]
	branch = main
